{% extends "base.html" %}

{% block content %}

    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-plus-circle"></i>
            Edit Task</div>
          <div class="card-body">
            <div class="container">
               <div class="form-group">
                <label for="exampleFormControlSelect1">Project</label>
                  <select class="form-control" id="TaskProject">
                    {% for project in context['projects'] %}
                        <option value="{{  project['project_name'] }}"{% if context['task']['project']['project_id']==project['project_id'] %} selected="selected"{% endif %}>{{ project['project_name'] }}</option>
                    {% endfor %}
                  </select>
               </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Task</label>
                  <textarea class="form-control" id="TaskInput" rows="3"
                            placeholder="Task Details">{{ context['task']['task_title'] }}</textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="TaskStatus" name="form_select" onchange="showDiv('hidden_div', this)">
                    <option value="Green" {% if context['task']['status']=="Green" %} selected="selected"{% endif %}>Green</option>
                    <option value="Yellow" {% if context['task']['status']=="Yellow" %} selected="selected"{% endif %}>Yellow</option>
                    <option value="Red" {% if context['task']['status']=="Red" %} selected="selected"{% endif %}>Red</option>
                  </select>

                </div>
                <div class="form-group" id="hidden_div">
                  <label for="exampleFormControlTextarea1">Reason</label>
                  <textarea class="form-control" id="TaskReason" rows="3" placeholder="Reason">{% if context['task']['reason'] %}{{ context['task']['reason'] }}{% endif %}</textarea>
                </div>
                <br>
                <div class="form-group row">
                  <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary" onclick="update_task()">Save</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block script %}
    <script>
     var status= "{{ context['task']['status'] }}";
             if(status=="Green"){
                 document.getElementById("hidden_div").style.display = 'none';

             }
             else{
                 document.getElementById("hidden_div").style.display = 'block';
             }
        function showDiv(divId, element) {
            document.getElementById(divId).style.display = element.value == "Green" ? 'none' : 'block';
        }
    </script>

<script>
function update_task() {
    var task_id= {{ context['task']['task_id'] }};
    var task={
                    "task_title": $('#TaskInput').val(),
                     "status":$('#TaskStatus').val(),
                      "reason":$('#TaskReason').val(),
                      "project_name":$('#TaskProject').val(),
                }
            $.ajax({
                url: "/task/"+task_id+"/",
                type: 'PUT',
                contentType:"application/json",
                data: JSON.stringify(task),
                dataType: 'json', // added data type
                success: function (response) {
                  var successOptions = {
      autoHideDelay: 2000,
      showAnimation: "fadeIn",
      hideAnimation: "fadeOut",
      hideDuration: 70,
      arrowShow: false,
      className: "success",
  };
                  var failOptions = {
      autoHideDelay: 2000,
      showAnimation: "fadeIn",
      hideAnimation: "fadeOut",
      hideDuration: 70,
      arrowShow: false,
      className: "error",
  };

    $('.notifyjs-corner').empty();

    if(response['status']=="1") {
        $.notify(response['message'], successOptions);
    }
    else{
        $.notify(response['message'], failOptions);
    }
    setTimeout(function(){ window.location = "/table/"; }, 1000);

                }
            });
        }
</script>

{% endblock %}