{% extends "base.html" %}

{% block content %}

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    Select Project
                </div>
                <div class="card-body">
                    <div class="container">

                            <div class="form-group row">
                               <div class="col-sm-4">
                                <label for="exampleFormControlSelect1">Project</label>
                                <select class="form-control" id="TaskProject" >
                                     {% for project in context['projects'] %}
                                        <option value="{{  project['project_name'] }}" >{{ project['project_name'] }}</option>
                                    {% else %}
                                         <option disabled selected >No Projects Avail.</option>
                                    {% endfor %}
                                </select>
                               <br>
                               <div class="form-group row">
                                <div class="col-sm-6">
                                    <a href="#" id="add_task" >
                                    <i class="fa fa-plus-circle"></i> Add
                                        Task</a>

                                </div>
                            </div>
                               </div>
                                 <div class="col-sm-8" id="div2" style="display:none" >
                    <div class="form-group">
                        <label for="formGroupExampleInput">Task</label>
                        <textarea class="form-control" id="TaskInput" rows="3" placeholder="Task Details"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Status</label>
                        <select class="form-control" id="TaskStatus" name="form_select" onchange="showDiv('hidden_div', this)">
                            <option value="Green">Green</option>
                            <option value="Yellow">Yellow</option>
                            <option value="Red">Red</option>
                        </select>
                        <script>
                            function showDiv(divId, element)
                                {
                                    document.getElementById(divId).style.display = element.value == "Green" ? 'none' : 'block';
                                }
                        </script>
                    </div>
                    <div class="form-group" id="hidden_div">
                        <label for="exampleFormControlTextarea1">Reason</label>
                        <textarea class="form-control" id="TaskReason" rows="3" placeholder="Reason"></textarea>
                    </div>
                          <div class="form-group row">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" onclick="create_task()">Save</button>
                        </div>
                    </div>
                     </div>
                            </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $("#add_task").click(function(){
    $("#div2").css("display", "block");
  });
});

function create_task() {
            sessionStorage.setItem("ProjectName",$('#TaskProject').val());
            var task={
                    "task_title": $('#TaskInput').val(),
                     "status":$('#TaskStatus').val(),
                      "reason":$('#TaskReason').val(),
                       "user_name":"{{ context['user']['user_name'] }}",
                      "project_name":$('#TaskProject').val(),
                }
            $.ajax({
                url: "/task/",
                type: 'POST',
                contentType:"application/json",
                data: JSON.stringify(task),
                dataType: 'json', // added data type
                success: function (response) {
                var successOptions = {
      autoHideDelay: 2000,
      showAnimation: "fadeIn",
      hideAnimation: "fadeOut",
      hideDuration: 70,
      arrowShow: false,
      className: "success",
  };
                                       var failOptions = {
      autoHideDelay: 2000,
      showAnimation: "fadeIn",
      hideAnimation: "fadeOut",
      hideDuration: 70,
      arrowShow: false,
      className: "error",
  };

    $('.notifyjs-corner').empty();
    if(response['status']=="1") {
        $.notify(response['message'], successOptions);
    }
    else{
        $.notify(response['message'], failOptions);
    }
        $('#TaskInput').val("");
        $('#TaskReason').val("");
                }
            });
        }
</script>
{% endblock %}